
.header
{
  display:flex;
  height:50px;
  justify-content:space-between;
  border-bottom:2px;
  border-color:gray;
  position:fixed;
  top:0;
  left:0px;
  right:0px;
}
.left-section
{
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
}
.burger-icon
{
  width:24px;
  height:24px;
  margin-left:20px;
  margin-right:20px;
}
.youtube-logo
{
  height:24px;
}
.middle-section
{
  display:flex;
  flex:1;
  max-width:500px;
  flex-direction:row;
  align-items:center;
  margin-left:40px;
  margin-right:40px;
}
.search-bar
{
  flex:1;
  height:36px;
  padding-left:10px;
  width:0px;
  font-size:16px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(189, 189, 189);
  border-radius:2px;
  box-shadow:inset 1px 1px 3px rgba(0,0,0,0.05);
}
.search-bar::placeholder
{
  font-family:arial;
  font-size:16px;
}
.image-search
{
  height:25px;
}
.search
{
  display:flex;
  align-items:center;
  justify-content:center;
  border:solid;
  border-width:1px;
  border-color:rgb(189, 189, 189);
  margin-left:-2px;
  width:60px;
  height:40px;
  background-color:rgb(213, 209, 209);
  margin-right:8px;
}
.speaker
{
  width:40px;
  height:40px;
  border-radius:20px;
  border:none;
  background-color:rgb(213, 209, 209);
}
.right-section
{
  display:flex;
  flex-direction:row;
  align-items:center;
  column-gap:20px;
  flex-shrink:0px;
}
.upload
{
  height:30px;
}
.apps
{
  height:30px;
}
.notifi
{
  height:30px;
}
.profile
{
  width:30px;
  height:30px;
  border-radius:25px;
  object-fit:cover;
  object-position:left;
}






























