p
{
  font-family:arial;
  font-size:18px;
  margin-top:0;
  margin-bottom:0;
  margin-left:10px;
}
.thumbnail
{
  width:100%;
}
.profile
{
  width:50px;
  height:50px;
  border-radius:25px;
  object-fit: cover;
  object-position:center;
}
.chanel-name,.views-time
{
  font-family:arial;
  font-size:15px;
  color:gray;
  margin-top:10px;
}
.views-time
{
  margin-top:4px;
}
.content
{
  display:grid;
  grid-template-columns:30px 1fr;
  margin-top:10px;
}
.vedio-grid
{
  padding-top:60px;
  padding-left:75px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  row-gap:40px;
  column-gap:16px;
  position:relative;
}
@media(max-width: 750px)
{
  .vedio-grid
  {
    grid-template-columns:1fr 1fr;
  }
}
@media(min-width: 1250px)
{
  .vedio-grid
  {
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}
@media(min-width:751px) and (max-width:1249px)
{
  .vedio-grid
  {
    grid-template-columns:1fr 1fr 1fr;
  }
}