.sidebar
{
  z-index:3;
  background-color:rgb(252, 252, 252);
  color:black;
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  width:72px;
  padding-top:5px;
}
.sidebar-link
{
  height:74px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.sidebar-link:hover
{
  background-color:rgb(238, 237, 237);
}
.sidebar-link img
{
  height:24px;
  margin-bottom:4px;
}
.sidebar-link div
{
  font-family:arial;
  font-size:8px;
}