@media(max-width:786px)
{
    *
    {
        margin:0px;
        padding:0px;
        box-sizing: border-box;
    }
    .hero-section
    {
        margin-top:15%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .hero-info
    {  
        display:flex;
        align-items:flex-start;
        flex-direction:column;
        gap:20px;
        margin-left:15px;
        max-width:none;
    }
    .options
    {
        margin-left:0px;
        margin-right:0px;
        column-gap:15px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
    }
    .options-section
    {
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        width:100%;
        gap:15px;
        padding:10px;
        transition:0.5;
    }
    .items
    {
        padding:10px;
    }
    .grid-image
    {
        border-radius:0px;
    }
    .conclusion
    {
        background-color:rgb(249, 226, 195);
        margin-top:50px;
        display:flex;
        flex-direction:column;
        padding:20px;
        row-gap:20px;
    }
    .company-logo-end
    {
        width:40%;
    }
    input
    {
        width:200px;
        min-height:25px;
    }
}