.p
{
    font-family:arial;
    font-weight:solid;
}
.outer-container
{
    background-color:rgb(205, 205, 205);
    display:flex;
    justify-content:center;
}
.container
{
    font-family:arial;

    display:flex;
    flex-direction:column;
    row-gap:15px;

    width:600px;


    background-color:white;
    border-radius:15px;
    position:relative ;
    padding:20px;


    top:30px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.row
{
   display:grid;
   grid-template-columns:1fr 1fr;
   column-gap:20px;
   row-gap:15px;
}
.input
{
    width:100%;
    border:1px solid gray;
    height:10px;
    border-radius:4px;
    padding:10px 6px;
}
.job-input
{
    font-size:15px;
    padding:10px 6px;
}
.button
{
    width:70px;
    height:20px;
    background-color:rgb(252, 6, 6);
    border:none;
    color:white;
    border-radius:4px;
}
.button-row
{
    display:inline-flex;
    justify-content:flex-end;
}
.Address-row
{
    display:grid;
    grid-template-columns:1fr;
}
.job-role
{
    display:block;
}
.but
{
    height:20px;
    color:white;
    background-color:red;
    border: none;
    border-radius:6px;
    transition:0.5s;
}
.text_areacontrole {
    grid-column: 1 / span 2;
    }
.name
{
    font-family:arial;
    font-weight:bold;
    font-size:25px;
}
.span
{
    font-size:20px;
    font-weight:normal;
}
.but:hover
{
    border:1px solid red;
    background-color:gray;
    color:black;
    transition:0.5s;
}